<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1> Bánh cuốn chả mực Hạ Long – món ăn ‘gây thương nhớ’ </h1>
    <div class="box"><img src="https://i1-dulich.vnecdn.net/2019/05/23/2-1558593955.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=jiaIXMz8_eJGXc8IeZME3A" alt="Dalat" width="300"></div>
    <p>
      
     
      
  
    
    Bánh cuốn là món ăn bình dân nổi tiếng ở nước ta. Được làm từ bột gạo trắng mịn, cuộn nhân thịt và mộc nhĩ bên trong. Thưởng thức món ăn này cùng với rau sống chấm kèm nước chấm thơm ngon đã được rất nhiều người yêu thích. Từ những hương vị và công thức chế biến truyền thống, bánh cuốn tại Quảng Ninh sáng tạo theo công thức “kinh điển”, ăn kèm với chả mực.




    Giữa sự quen thuộc đó, người Quảng Ninh mang lại cho du khách món ăn kết hợp đọc đáo từ hải sản – Bánh cuốn chả mực. Bên trong nhân bánh cuốn có kèm thêm chút tôm non tạo độ ngậy vị thơm mùi mùi của tôm, ăn kèm với chả mực. Món này từ lâu nổi tiếng là món ăn đặc sản Hạ Long,chế biến trực tiếp từ mực tươi.

    Chả mực Hạ Long được sơ chế theo tỷ lệ 95% mực tươi và 5% gia vị khác. Ưu điểm của chả mực khi giã tay sẽ hấp dẫn và thơm ngon hơn. Tạo sự kết dính của mực, tạo mùi thơm của cả mực. Và đặc biệt là cảm giác giòn dai, sần sật của miếng mực.

    Bánh cuốn chả mực là một món ăn đặc sản của người dân Hạ Long. Nhiều du khách tìm tới đây đều ghé ăn món ăn tuyệt vời này. Và không quên mua cho mình những gói chả mực về làm quà. Nhưng riêng món bánh cuốn chả mực thì chỉ có thể thưởng thức tại Hạ Long mà thôi.
   
    Một lớp mỡ hành béo ngậy phủ bên trên. Nước chấm được chế biến theo công thức riêng. Tùy vào sở thích bạn có thể cho thêm tinh dầu cà cuống, tiêu đen và ớt đỏ. Khi ăn bạn sẽ thấy bánh cuốn trắng trong, mềm, thơm nức, hơi dai và ngập mùi tôm thịt, nấm hương, mộc nhĩ. Chút tiêu se se cay của chả mực giòn thơm lôi cuốn không thể chối từ. Để thưởng thức bánh cuốn chả mực đúng vị nhất hãy ghém một miếng bánh cuốn, một miếng chả mực, thêm chút rau sống và chấm nước chấm cay một chút. Tất cả kết hợp hoàn hảo tạo nên một món ăn thật ấn tượng khiến du khách say mê.

     





</div>
  </body>
</html>



File Style CSS


p {
  color: #581845;
}




body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color: #FFDBD3;
}
h1 {
  color: #DAF7A6;}

.box {
  float: left;
  margin-right: 15px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
  padding: 1em;
}
